@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lato:wght@700&display=swap");

.navbar {
  height: 70px;
  width: 100%;
  position: fixed;
  left: 0%;
  bottom: 0;
  background: #f8f9fa;
}

.navhome {
  position: absolute;
  width: 20px;
  height: 20px;
  left: 22.5%;
  transform: translate(-50%, -50%);
  top: 50%;
}

.house {
  position: absolute;
  left: 50%;
  transform: translate(-50%, -50%);
  top: 40%;
}

.navtournaments {
  position: absolute;
  width: 20px;
  height: 20px;
  left: 50%;
  transform: translate(-50%, -50%);
  top: 50%;
}

.person {
  position: absolute;
  left: 50%;
  transform: translate(-50%, -50%);
  top: 45%;
}

.navsettings {
  position: absolute;
  width: 20px;
  height: 20px;
  left: 77.5%;
  transform: translate(-50%, -50%);
  top: 50%;
}

.cogs {
  position: absolute;
  left: 50%;
  transform: translate(-50%, -50%);
  top: 45%;
}

.homeTitle {
  margin-top: -25px;
  top: 58px;
  font-weight: 700;
  font-size: 26px;
  margin-left: 25px;
  position: relative;
  white-space: nowrap;
  font-family: Lato;
}

.filterBtn {
  position: relative;
  height: 42px;
  width: 42px;
  background: #171717;
  margin-top: 25px;
  margin-left: 25px;
  z-index: +1;
  top: 65px;
  border-radius: 16px;
}
.filterContainer {
  width: 0;
  height: 0;
  left: 0;
z-index: +2;
  margin: 0;
  position: absolute;
}
.filterHeader {
  display: none;
}
.filter {
  width: 95px;
  height: 40px;
  background: black;
  border-radius: 50px;
  position: absolute;
  z-index: +100000;
  left: 100px;
  top: 25px;
}
.removefilter {
  position: absolute;
  transform: translate(-50%, -50%);
  top: 50%;
  left: 20px;
  width: 35px;
  height: 35px;
  background: white;
  border-radius: 100%;
}

.filterSvg {
  position: relative;
  top: 7.5px;
  left: 7px;
}

.container {
  display: flex;
  font-family: "Roboto";
  background-color: none;
  z-index: +300;
  position: relative;
}

.arrows {
  width: 35px;
  position: absolute;
  height: 100px;
  z-index: +2000;
  right: calc(0% + 40px);
  top: 128px;
}

.arrowLeft {
  position: absolute;
  left: 0%;
  top: 50%;
  background: none;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  transform: translate(-50%, -50%);
  pointer-events: none;
  opacity: 0.2;
}
.arrowRight {
  position: absolute;
  left: 100%;
  top: 50%;
  background: none;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  transform: translate(-50%, -50%);
}

.righticon {
  position: absolute;
  left: 32%;
  top: 30%;
  fill: black;
}
.lefticon {
  position: absolute;
  left: 26%;
  top: 30%;
  fill: black;
}

.scrollContain {
  position: relative;
  overflow: visible;
}

.container {
}

.allTournaments {
  position: absolute;
  display: flex;
  flex-direction: row;
  margin-left: 0px;
  width: 100px;

  height: 100px;
}

.container > :last-child {
  margin-right: 0;
}

.column {
  flex-direction: row;
  text-align: center;
  width: 400px;
  transform: translate(-50%, 50%);
  margin: -50px;
  margin-left: 200px;
  height: 60px;
}

.logo {
  display: none;
}

.days {
  font-family: Lato;
  font-weight: 700;
  position: relative;
  left: 29px;
  top: 40px;
  font-size: 26px;
  margin-top: 70px;
}

.dayContainer {
  position: relative;
  width: 100%;
  left: -88px;
  height: 20px;
}

.column > :last-child {
  margin-bottom: 0;
}

.column div {
  display: flex;
  flex-direction: row;
}

.tournaments {
  overflow-y: visible;
}

.tourneyDiv {
  overflow: hidden;
  width: 312px;
  height: 187px;
  background-color: #171717;
  position: relative;
  left: 375px;
  transform: translate(-50%, -50%);
  border-radius: 40px;
}

.fox {
  position: relative;
  left: 168px;
  width: 141px;
  height: 265.6px;
  top: 19px;
  pointer-events: none;
}

.tournament_container {
  left: 105px;
  opacity: 1;
  margin-left: -40px;
  transform: translate(-50%, -50%);
  width: 375px;
  margin-top: 130px;
  display: flex;
  flex-direction: row;
  position: relative;
  transition: 0.3s;
}

.backButton {
  display: none;
}

.backIcon {
  position: absolute;
  width: 20px;
  height: 20px;
  left: 73%;
  transform: translate(-50%, -50%);
  top: 75%;
}

.foxadd {
  display: none;
}

.infoOff {
  width: 0px;
  height: 00px;
  position: absolute;
  transform: translate(-50%, -50%);
  left: 50%;
  top: 50%;
  background: rgb(0, 0, 0);
}

.infoOn {
  position: absolute;
  background: rgb(0, 0, 0);
  width: 100%;
  height: 100%;
  left: 50%;
  top: 50%;
  z-index: +2;
  transform: translate(-50%, -50%);
  transition: 0.3s;
  overflow: hidden;
}

.backButtonOn {
  top: -30px;
  left: -30px;
  position: relative;
  background: white;
  width: 220px;
  height: 220px;
  border-radius: 50%;
  transform: translate(-50%, -50%);
}

.foxaddOn {
  position: absolute;
  left: calc(100% - 290px);

  width: 401px;
  height: 775.6px;
  top: 25%;
  opacity: 0.8;
}

.scrollOn {
  width: 500px;
  scrollbar-width: none;
  left: calc(50% - 30px);
  overflow: visible;
  overflow-x: scroll;
  top: 260px;
  height: 400px;
  padding-top: 10px;
  transform: translate(-50%, -50%);
  position: relative;
}

.tournament_containerOn {
  left: 190px;
  opacity: 1;
  margin-left: -205px;
  transform: translate(-50%, -50%);
  width: 375px;
  margin-top: 360px;
  display: flex;
  flex-direction: row;
  position: relative;
  z-index: +2000;
  transition: 0.3s;
  scrollbar-width: none;
  transition: 0.3s;
}

.tourneyDivOn {
  overflow: hidden;
  width: 157px;
  height: 66px;
  background-color: #ffffff;
  position: relative;
  left: 375px;
  transform: translate(-50%, -50%);
  border-radius: 22px;
}

.calendarOn {
  position: relative;
  margin-top: 700px;
  height: 00px;
  white-space: nowrap;
  font-family: Poppins;
  font-size: 23px;
  width: 100%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.namess {
  position: absolute;
  z-index: +3000;

  width: 500px;
  height: 500px;
  left: 0px;
  top: 100px;
  font-size: 50px;
  color: rgb(255, 255, 255);
}

.tourneament_nameOn {
  position: absolute;
  color: rgb(0, 0, 0);
  top: 50%;
  left: 50%;
  font-family: Poppins;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 20px;
  transform: translate(-50%, -50%);
}

.tourneament_name {
  position: absolute;
  color: white;
  top: 65px;
  left: 30px;
  font-family: Poppins;
  font-style: normal;
  font-weight: normal;
  font-size: 34px;
  line-height: 20px;
}

.cet_time {
  position: absolute;
  color: rgb(180, 180, 180);
  top: 100px;
  left: 30px;
  font-family: Poppins;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 20px;
}

.links {
  margin-top: -40px;
}

.tournament_container > :first-child {
  margin-bottom: 0;
}

.scroll {
  width: 500px;
  scrollbar-width: none;
  left: calc(50% - 30px);
  overflow: visible;
  overflow-x: scroll;
  top: 160px;
  padding-top: 10px;
  transform: translate(-50%, -50%);
  position: relative;
  height: 220px;
}

.calendarContainer {
  position: relative;
  margin-top: 570px;
  height: 280px;
  white-space: nowrap;
  font-family: Poppins;
  font-size: 23px;
  width: 100%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.month {
  position: relative;
  margin-left: 30px;
  margin-top: -70px;
  font-weight: 700;
  font-size: 26px;
  font-family: Lato;
}

.calendarDiv {
  left: 50%;
  transform: translate(-50%, -50%);
  position: relative;
  background: white;
  margin-top: 155px;
  width: 332px;
  height: 259px;
  border-radius: 40px;
  display: grid;
  box-shadow: 0px 4px 50px rgba(0, 0, 0, 0.15);
  grid-template-columns: 12% 12% 12% 12% 12% 12% 12%;
  grid-template-rows: 17% 17% 17% 17%;
  overflow: hidden;
}

.num {
  color: black;
  font-size: 20px;
  position: relative;
  font-family: poppins;
  width: 20px;
  height: 20px;
  left: 35px;
  top: 75px;
  transform: translate(-50%, -50%);
  padding: 10px;
  display: flex;
  flex-direction: row;
  margin: 0 auto;
}

.row1 {
  display: flex;
  position: absolute;
  left: -15px;
}

.row2 {
  display: flex;
  margin-top: 40px;
  position: absolute;
  left: -16px;
}

.row3 {
  display: flex;
  margin-top: 80px;
  position: absolute;
  left: -16px;
}

.row4 {
  display: flex;
  margin-top: 120px;
  position: absolute;
  left: -17px;
}

.row1 div {
  margin-left: 20px;
}

.row2 div {
  margin-left: 20px;
}

.row3 div {
  margin-left: 20px;
}

.row4 div {
  margin-left: 20px;
}

.day {
  display: flex;
  flex-direction: row;
  position: absolute;
  font-size: 12px;
  top: 24px;
  color: #a9a9a9;
  left: 15px;
}

.day h3 {
  margin-left: 14px;
}

.link_button {
  display: block;
  border-radius: 3px;
  padding: 20px;
  color: white;
  font-size: 18px;
  margin-bottom: 8px;
  display: none;
  margin-right: 4px;
  cursor: pointer;
  user-select: none;
}

.add_button {
  transition: 0.1s ease-in-out;
  font-size: 16px;
  color: #d9d9d9;
  display: none;
}

.add_button:hover {
  background-color: lightgreen;
  color: black;
}

.scroll::-webkit-scrollbar {
  width: 0px;
  /* Remove scrollbar space */
  background: transparent;
  /* Optional: just make scrollbar invisible */
}

/* Optional: show position indicator in red */

.scroll::-webkit-scrollbar-thumb {
  background: none;
}

@media screen and (min-width: 420px) {
  .scroll {
    left: calc(50% + 50px);
  }

  .tournament_container {
    left: 25px;
  }
  .column {
    margin-left: 380px;
    overflow: visible;
  }

  .container {
    display: flex;
    font-family: "Roboto";
    max-height: 100vh;
    left: -180px;
    position: relative;
    background-color: none;
  }
}

@media screen and (min-width: 500px) {
  .scroll {
    width: 600px;
    left: calc(50% + 100px);
  }
}

@media screen and (min-width: 600px) {
  .scroll {
    width: 700px;
    left: calc(50% + 150px);
  }
}

@media only screen and (min-width: 740px) {
  .column div {
    padding: 20px;
  }
  .allTournaments {
    margin-left: 150px;
    width: 500px;
    height: 500px;
  }

  .container {
    overflow-x: hidden;
    padding-bottom: 550px;
    top: 238px;
    overflow-y: hidden;
    left: calc(48% + 180px);
    margin: 0;
    height: 500px;
    width: 280px;
    transform: translate(-50%, -50%);
  }

  .filterBtn {
    z-index: +100000;
    position: absolute;
    top: calc(100% - 480px);
  }

  .filterContainer {
    width: 300px;
    height: 70px;
    background: white;
    border-radius: 25px;
    left: calc(0% + 10px);
    bottom: calc(0% + 400px);

    z-index: +10000;
    overflow: hidden;
    position: absolute;
  }

  .filterHeader {
    position: absolute;
    font-family: lato;
    z-index: +1000;
    font-size: 26px;
    display: block;
    left: 30px;
    top: calc(100% - 530px);
  }
  .filter {
    top: 18px;
    left: 80px;
  }

  .arrows {
    width: 75px;
    left: calc(0% + 120px);
    margin-top: -70px;

    position: absolute;
  }

  .arrowLeft {
    opacity: 0.2;
    background: black;
    width: 60px;
    height: 60px;
  }
  .arrowRight {
    background: black;
    width: 60px;
    height: 60px;
  }
  .righticon {
    fill: white;
  }
  .lefticon {
    fill: white;
  }
  .container div {
    position: relative;
    top: 55%;
    transform: translate(-50%, -50%);
    left: 45%;
  }
  .homeTitle {
    z-index: +70;
    top: 0;
    left: calc(48% - 25px);
    margin-top: 80px;
    padding: 0;
    font-size: 33px;
  }

  .sideBar {
    left: 0;
    top: 0;
    width: 320px;
    height: 100%;
    z-index: +100;
    background: #edeff1;
    position: fixed;
  }
  .navbar {
    width: 320px;
    background: none;
  }
  .calendarContainer {
    bottom: 0;
    position: absolute;
  }
  .calendarDiv {
    position: absolute;
    margin-top: 250px;
    width: 85%;
    height: 210px;
    border-radius: 30px;
    box-shadow: none;
  }

  .month {
    position: relative;
    margin-left: 30px;
    margin-top: -50px;
    top: 110px;
  }
  .column div {
    display: flex;
    flex-direction: column;
  }
  .scroll {
    overflow-y: visible;
    top: 280px;
    height: 660px;
    margin-top: 70px;
    z-index: +10;
    width: 500px;
    margin-left: 160px;
  }
  .tournament_container {
    left: 200px;
    margin-left: 0;
    top: 190px;
    margin-top: 65px;
    flex-direction: column;
  }

  .tourneyDiv {
    width: 264px;
    height: 146px;
    margin-top: -172px;
    left: 375px;
    border-radius: 20px;
    top: 140px;
    transition: 0.2s;
  }

  .days {
    top: 0;
    font-weight: 400;
    margin-top: 130px;
    margin-left: 95px;
    font-size: 30px;
    font-family: poppins;
  }
  .num {
    font-size: 16px;
    left: 28px;
    top: 60px;
  }

  .row1 {
    display: flex;
    position: absolute;
    left: -15px;
  }
  .row2 {
    display: flex;
    margin-top: 35px;
    position: absolute;
    left: -16px;
  }
  .row3 {
    display: flex;
    margin-top: 70px;
    position: absolute;
    left: -16px;
  }
  .row4 {
    display: flex;
    margin-top: 105px;
    position: absolute;
    left: -17px;
  }
  .row1 div {
    margin-left: 15px;
  }
  .row2 div {
    margin-left: 15px;
  }
  .row3 div {
    margin-left: 15px;
  }
  .row4 div {
    margin-left: 15px;
  }
  .day {
    display: flex;
    flex-direction: row;
    position: absolute;
    font-size: 10px;
    top: 18px;
    color: #a9a9a9;
    left: 9px;
  }
  .day h3 {
    margin-left: 12px;
  }
  .tourneament_name {
    margin-top: -90px;
    margin-left: 0px;
    font-size: 28px;
    text-align: left;
    transition: 0.3s;
  }

  .cet_time {
    position: absolute;
    color: rgb(180, 180, 180);
    top: 30px;
    margin-top: -305px;
    left: 30px;
    margin-left: 0px;
    font-family: Poppins;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 20px;
    text-align: left;
    transition: 0.3s;
  }
  .tourneyDiv:hover {
    width: 304px;
    height: 166px;
    cursor: pointer;
  }
  .tourneyDiv:hover .fox {
    left: 150px;
  }
  .tourneyDiv:active {
    pointer-events: none;
  }
  .tourneyDiv:target {
    pointer-events: none;
  }
  .tourneyDiv:hover .tourneament_name {
    margin-left: 10px;
  }
  .tourneyDiv:hover .cet_time {
    margin-top: -335px;
    margin-left: 10px;
  }
  .column {
    flex-direction: row;
    text-align: center;
    width: 400px;
    transform: translate(-50%, 50%);
    margin-left: -65px;
    overflow: visible;
    height: 60px;
  }
  .fox {
    position: relative;
    left: 118px;
    width: 121px;
    height: 235.6px;
    top: -9px;
    transition: 0.2s;
  }
}

@media only screen and (min-width: 900px) {
  .container {
    overflow-x: hidden;
    padding-bottom: 550px;
    top: 238px;
    overflow-y: hidden;
    left: calc(48% + 160px);
    margin: 0;
    height: 500px;
    width: 600px;
    transform: translate(-50%, -50%);
    position: relative;
  }
  .homeTitle {
    z-index: +70;
    top: 0;
    left: calc(48% - 120px);
    margin-top: 80px;
    padding: 0;
    position: relative;
    font-size: 40px;
    white-space: nowrap;
  }

  .days {
    margin-left: -20px;
  }
  .scroll {
    overflow-y: visible;
    top: 280px;
    height: 660px;
    margin-top: 70px;
    z-index: +10;
    width: 500px;
    margin-left: 45px;
    transform: translate(-50%, -50%);
    position: relative;
  }
  .allTournaments {
    margin-left: 300px;
  }
}

@media only screen and (min-width: 1160px) {
  .homeTitle {
    z-index: +70;
    left: calc(48% - 250px);
    padding: 0;
    font-size: 40px;
    white-space: nowrap;
  }
  .allTournaments {
    margin-left: 420px;
  }
  .container {
    overflow-x: hidden;
    padding-bottom: 550px;
    overflow-y: hidden;
    left: calc(48% + 160px);
    margin: 0;
    height: 500px;
    width: 900px;
    transform: translate(-50%, -50%);
  }
  .arrows {
    width: 75px;
    position: absolute;
    height: 100px;
    z-index: +2000;
    left: calc(48% + 270px);
    top: 60px;
    margin-top: -3px;
  }
  .scroll {
    overflow-y: visible;
    top: 280px;
    height: 660px;
    margin-top: 70px;
    z-index: +10;
    width: 500px;
    margin-left: -65px;
    transform: translate(-50%, -50%);
    position: relative;
  }
  .days {
    font-family: Poppins;
    position: relative;
    top: 0;

    margin-left: -130px;
    font-size: 30px;
  }
}

@media only screen and (min-width: 1500px) {
  .container {
    left: calc(48% + 200px);
    width: 1180px;
  }
  .container div {
  }
  .homeTitle {
    font-size: 40px;
    left: calc(48% - 390px);
  }
  .days {
    font-size: 30px;
  }
  .allTournaments {
    margin-left: -70px;
  }
  .arrows {
    left: calc(48% + 120px);
  }
  .allTournaments {
    margin-left: 385px;
  }
}

@media only screen and (min-width: 1700px) {
  .days {
    font-size: 30px;
  }
}

@media only screen and (min-width: 1740px) {
  .container {
    left: calc(43% + 320px);
    width: 1450px;
  }
  .homeTitle {
    font-size: 40px;
    left: calc(43% - 390px);
  }
  .allTournaments {
    margin-left: -180px;
  }
  .arrows {
    left: calc(43% + 120px);
  }
  .allTournaments {
    margin-left: 385px;
  }
}

@media only screen and (min-width: 2100px) {
  .container {
    left: calc(37.5% + 470px);
    width: 1750px;
  }
  .homeTitle {
    font-size: 40px;
    left: calc(37.5% - 390px);
  }
  .allTournaments {
    margin-left: -320px;
  }
  .arrows {
    left: calc(37.5% + 120px);
  }
  .allTournaments {
    margin-left: 385px;
  }
}

@media screen and (min-width: 1920px) {
  .container {
    cursor: default;
  }
}

@media only screen and (min-height: 800px) and (min-width: 740px) {
  .container {
    top: 60%;
    position: absolute;
  }
  .homeTitle {
    z-index: +70;
    top: calc(60% - 480px);
    margin-top: 80px;
    padding: 0;
    position: absolute;
    font-size: 33px;
    white-space: nowrap;
  }
  .arrows {
    top: calc(60% - 420px);
    margin-top: -5px;
  }
  .days {
    margin-top: 35px;
  }
}

@media only screen and (min-height: 800px) and (min-width: 900px) {
  .container {
    top: 60%;
    position: absolute;
  }
  .homeTitle {
    z-index: +70;
    top: calc(60% - 480px);
    margin-top: 80px;
    padding: 0;
    position: absolute;
    font-size: 40px;
    white-space: nowrap;
  }
}

@media only screen and (min-height: 1200px) and (min-width: 740px) {
  .container {
    top: 50%;
    position: absolute;
  }
  .homeTitle {
    z-index: +70;
    top: calc(50% - 480px);
    margin-top: 80px;
    padding: 0;
    position: absolute;
    font-size: 33px;
    white-space: nowrap;
  }
}

@media only screen and (min-height: 1200px) and (min-width: 900px) {
  .container {
    top: 50%;
    position: absolute;
  }
  .homeTitle {
    z-index: +70;
    top: calc(50% - 480px);
    margin-top: 80px;
    padding: 0;
    position: absolute;
    font-size: 40px;
    white-space: nowrap;
  }
}
