@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@700&display=swap');

.container {
  display: flex;
  font-family: 'Roboto';
  padding: 50px;
  padding-top: 120px;
  cursor: grab;
  max-height: 100vh;
}

.container > :last-child {
  margin-right: 0;
}

.column {
  flex-direction: column;
  justify-content: center;
  text-align: center;
  margin-right: 20px;
  min-width: 230px;
}

.column > :last-child {
  margin-bottom: 0;
}

.tournament_container {
  border: 3px solid #d9d9d9;
  border-radius: 30px;
  font-size: 28px;
  color: #d9d9d9;
  padding: 25px;
  margin-bottom: 25px;
}

.tournament_container > :last-child {
  margin-bottom: 0;
}

.link_button {
  display: block;
  border-radius: 3px;
  padding: 20px;
  color: white;
  font-size: 18px;
  margin-bottom: 8px;
  margin-left: 4px;
  margin-right: 4px;
  cursor: pointer;
  user-select: none;
}

.add_button {
  transition: 0.1s ease-in-out;
  font-size: 16px;
  color: #d9d9d9;
}

.add_button:hover {
  background-color: lightgreen;
  color: black;
}

.scroll::-webkit-scrollbar-track
{
  border-radius: 3px;
  box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
}

.scroll::-webkit-scrollbar
{
  border-radius: 3px;
  width: 8px;
  background-color: #c9938c;
}

.scroll::-webkit-scrollbar-thumb
{
  border-radius: 3px;
	background-color: #C7493A;	
	background-image: -webkit-linear-gradient(45deg,
	                                          rgba(255, 255, 255, .2) 25%,
											  transparent 25%,
											  transparent 50%,
											  0b0b0e 50%,
											  rgba(255, 255, 255, .2) 75%,
											  transparent 75%,
											  transparent)
}