@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@700&display=swap');

.container {
  display: flex;
  font-family: 'Roboto';
  padding: 100px;
  user-select: none;
  min-height: 100vh;
  cursor: grab;
}

.container > :last-child {
  margin-right: 0;
}

.column {
  flex-direction: column;
  justify-content: center;
  text-align: center;
  margin-right: 40px;
  min-width: 270px;
}

.column::-webkit-scrollbar {
  width: 0;
  height: 0;
}

.column > :last-child {
  margin-bottom: 0;
}

.tournament_container {
  border: 3px solid white;
  border-radius: 30px;
  font-size: 28px;
  color: white;
  padding: 50px;
  margin-bottom: 25px;
}

.tournament_container > :last-child {
  margin-bottom: 0;
}

.link_button {
  display: block;
  border-radius: 3px;
  padding: 20px;
  color: white;
  font-size: 18px;
  margin-bottom: 10px;
  margin-left: 10px;
  margin-right: 10px;
  cursor: pointer;
}